// Button Container Atom
//
// Button Container
//
// markup:
// <vet-button-container title ="Data Science" items="items" ng-model="selection"></vet-button-container>
// <br/>
// These are the items :{{items}}<br/>
// This is the model: {{selection}}
//
// sg-wrapper:
// <div ng-init= 'items = [{label:"0-1 Years", value:"0-1 Years"}, {label:"1-2 Years", value:"1-2 Years"}, {label:"2-4 Years", value:"2-4 Years"}, {label:"4-6 Years", value:"4-6 Years"}, {label:"6+ Years", value:"6+ Years"}]'>
//   <sg-wrapper-content/>
// </div>
//
//
// Styleguide 1.17

vet-button-container{
  .slide.ng-enter {
    transition: all 150ms ease;
    opacity: 0;
  }
  .slide.ng-enter-active {
    opacity: 1;
  }
  .slide.ng-leave {
    transition: all 150ms ease;
    opacity: 1;
  }
  .slide.ng-leave-active {
    height: 0;
    opacity: 0;
  }
  display: block;
  button {
    background: #FFFFFF;
    height: 40px;
    border: 1.5px solid #C0C6D0;
    border-radius: 5px;
    font-family: Effra;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 18px;
    color: #6B7481;
    flex: 1;
  }
  .title-btn, .button-container {
    width: 100%;
  }
  .button-container {
    height: 100px;
    background-color: #EAEEF1;
    border: 1.5px solid #C0C6D0;
    border-radius: 5px;
    text-align: center;
    span {
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
      font-family: Effra;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      line-height: 18px;
      color: #6B7481;
    }
    .button-group {
      display: flex;
    }
    button {
      margin: 10px 5px 10px 5px;
      padding: 0 5px;
      height: 40px;
      font-family: Effra;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .active{
    background: $vettery-blue;
    color: #FFFFFF;
    border: 1px solid $vettery-blue;
  }
}
