vet-carousel-panel {
  > div {
    margin-bottom: 70px;
    > .title, > div[ng-transclude=""] {
      margin-bottom: 45px;
    }
    h1 {
      color: $vettery-blue;
      font-family: $vettery-serif;
      font-size: 40px;
      text-align: center;
      margin: 35px 0 35px 0;
    }
    .footer-container {
      text-align: right;
    }
    &.mobile {
      > .title {
        margin-bottom: 10px;
      }
      > div[ng-transclude=""] {
        padding: 0 10px;
      }
      h1 {
        font-size: 20px;
        line-height: initial;
        margin: 10px 0 10px 0;
      }
      vet-progress-bar {
        box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.21);
      }
    }
  }
}
