// vetIcon style

// Icon
//
// Markup:
// <vet-icon label="Resume" icon="icon-Resume" url="http://www.vettery.com"></vet-icon>
// <vet-icon label="Github" icon="icon-Github" url="http://www.vettery.com"></vet-icon>
// <vet-icon label="LinkedIn" icon="icon-Linkedin" url="http://www.vettery.com"></vet-icon>
//
// Styleguide 1.12

vet-icon{
  display:block;
  a{
      font-size: 14px;
      cursor: pointer;
      color: $vettery-dark-cool-gray;
      font-family: effra,"Helvetica Neue",Helvetica,Arial,sans-serif;
      &:hover {
        text-decoration: none;
        color: $vettery-blue;
      }
      i{
          font-family: 'icomoon';
          font-size: 20px;
          position: relative;
          bottom: -4px;
          margin-right: 2px;
      }
  }
}
