<div
    ng-if="$ctrl.isNotMobile"
    ngf-drop="$ctrl.onUpload({ file: $file })"
    ngf-select="$ctrl.onUpload({ file: $file })"
    ng-model="$ctrl.file"
    ngf-allow-dir="false"
    class="desktop left"
    >
    <div class="border-helper top">
        <div class="border-helper left">
            <div class="border-helper right">
                <div class="inner-text">
                    Drag and drop<br/>
                    or<br/>
                    <span class='clicktobrowse'>Click to browse</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="$ctrl.isNotMobile" class="desktop right">
    <button ng-click="$ctrl.dropboxPicker.open()">
        <i class="icon-dropbox"></i>&nbsp;
        <span>Dropbox</span>
    </button>
    <button ng-click="$ctrl.googleDrivePicker.open()">
        <i class="icon-googledrive"></i>&nbsp;
        <span>Google Drive</span>
    </button>
    <p>Having trouble? Try our <a href="/resumes/upload_resume" target="_blank">simple uploader</a></p>
</div>
<div ng-if="$ctrl.isMobile" class="mobile">
    <div class="button--group">
        <button class="button--large button--blue-outline" ng-click="$ctrl.googleDrivePicker.open()">Upload with Google</button>
        <button class="button--large button--blue-outline" ng-click="$ctrl.dropboxPicker.open()">Upload with Dropbox</button>
    </div>
</div>
