<div>
    <div ng-hide="$ctrl.expand">
        <button
            class="title-btn"
            ng-class="{ active: $ctrl.model.id }"
            ng-click="$ctrl.expand = true"
            ng-bind="$ctrl.fullTitle"
        ></button>
    </div>
    <div
        class='slide'
        ng-if="$ctrl.expand"
    >
        <div class="button-container" ng-click="$ctrl.expand = false">
            <span ng-bind="$ctrl.title"></span>
            <div class="button-group">
                <button
                    ng-repeat="option in $ctrl.items"
                    ng-click="$ctrl.handleClick(option)"
                    ng-bind="option.label"
                    ng-class="{ active: option.id == $ctrl.model.id }"
                ></button>
            </div>
        </div>
    </div>
</div>
